Source: blahp
Section: science
Priority: extra
Maintainer: Tim Theisen <tim@cs.wisc.edu>
Build-Depends: debhelper (>=9),
               automake,
               autoconf,
               g++,
               libtool,
               make,
               libclassad-dev,
               libglobus-gss-assist-dev,
               libglobus-gsi-credential-dev,
               libglobus-gsi-proxy-core-dev,
               libglobus-gsi-cert-utils-dev,
               docbook-xsl, libxslt1.1,
               xsltproc
Standards-Version: 3.9.8
Homepage: https://github.com/htcondor/BLAH

Package: blahp
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: gLite BLAHP daemon
 The Batch Local ASCII Helper Protocol daemon locally transfers jobs to
 a 3rd party batch system and controls them.
